#!/usr/bin/env bash

if [ ! -e /tmp/xrootd.qdb.pid ] || ! ps $(cat /tmp/xrootd.qdb.pid) | grep 'xrootd -n qdb' &>/dev/null ; then
  if [ ! -e /root/INITIALIZED ] ; then
    {% if eos_qdb_observer|bool %}
    quarkdb-create --path {{ item[0].redis_database }} --clusterID {{ qdb_cluster_uuid }} 
    {% else -%}
    quarkdb-create --path {{ item[0].redis_database }} --clusterID {{ qdb_cluster_uuid }} --nodes {{ qdb_clusters|product([ qdb_port ])|map('join', ':')|join(',') }}
    {% endif %}
    chown -R daemon:daemon {{ item[0].redis_database }}

    touch /root/INITIALIZED
  fi

  cd /var/spool/eos/core
  #/usr/bin/xrootd -n qdb -c /etc/xrd.cf.quarkdb -l /var/log/eos/xrootd.qdb.log -k fifo -s /tmp/xrootd.qdb.pid -b -I {{ eos_xrootd_internet_address_protocol }} -Rdaemon
  /usr/bin/xrootd -n qdb -c /etc/xrd.cf.quarkdb -l /var/log/eos/xrootd.qdb.log -k fifo -s /tmp/xrootd.qdb.pid -I {{ eos_xrootd_internet_address_protocol }} -Rdaemon &
else
  echo "Already started, PID: $(cat /tmp/xrootd.qdb.pid)"
fi

wait
